<div class="content">
    <h1>Terço Mariano</h1>
    <h2 class="misterio">Mistério {{misterio}}</h2>
    <p>Meditado toda: {{frequencia}}.</p>
    <hr>

    <h2>Início</h2>
    <div class="content-terco p-2">
        <h5>Orações de Oferecimento e Introdução</h5>
        <p>Inicie este terço em nome do Pai, do Filho e do Espírito Santo.</p>

        <p>"Divino Jesus, eu vos ofereço este terço que vou rezar, contemplando os mistérios da vossa Redenção.
            Concedei-me, pela intercessão de Maria, vossa Mãe Santíssima, a quem me dirijo, as graças necessárias para
            bem rezá-lo para ganhar as indulgências desta santa devoção."</p>

        <p>Rezemos o Credo: Creio em Deus Pai todo poderoso, criador do céu a da terra <a>...</a></p>

        <p class="quebra-linha">Após o Credo reza-se o Pai Nosso: <br> {{paiNosso}}.</p>
        <p class="quebra-linha">Rezemos (3x) Ave-Maria: <br> {{aveMaria}}.</p>
    </div>

    <h2>Mistérios</h2>
    <div class="content-terco p-2">
        <div *ngFor="let item of dadosTerco" class="d-flex flex-column mb-3">
            <h5>No {{item.ordem_misterio}}º mistério contemplamos '{{ item.misterio }}'</h5>
            <h6>{{ item.passagem }}</h6>
            <p>{{ item.texto }}</p>
            <p>Pai-Nosso... (1x)</p>
            <p>Ave-Maria... (10x)</p>
        </div>
    </div>

    <h2>Finalização</h2>
</div>