<div class="container">
    <h2 class="text-center">Sobre</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <p>
                O <strong>Projeto Adoremus</strong> (em desenvolvimento) foi idealizado para oferecer uma plataforma
                completa aos católicos
                que desejam aprofundar seus conhecimentos sobre a fé e a Igreja Católica. Nossa missão é promover a
                espiritualidade por meio de conteúdos enriquecedores e de fácil acesso. Além disso, desenvolvemos uma
                API pública (<strong>api.adoremus.com.br</strong>) voltada para desenvolvedores, permitindo que o
                conteúdo sobre a fé católica seja integrado
                em diversas aplicações, expandindo seu alcance.
            </p>
        </div>
        <div class="col-md-6">
            <p>
                A página <strong>terco.adoremus.com.br</strong> é uma área especial dedicada à meditação do terço. Nela,
                os fiéis podem encontrar diferentes formas de rezar e refletir, como o Terço Mariano, o Terço da
                Misericórdia, o Terço do Amor e o tradicional Rosário. Cada uma dessas devoções oferece uma oportunidade
                única de conexão com Deus, auxiliando na oração e contemplação diária.
            </p>
        </div>
    </div>
    <hr>
    <h2 class="text-center">Desenvolvedor</h2>
    <div class="row mt-4">
        <div class="col-md-6 mx-auto text-center">
            <p>
                Me chamo <strong>Vinícius Macacari de Almeida</strong>. Sou um desenvolvedor com experiência
                em desenvolvimento web utilizando Angular e Node.js, relatórios SQL utilizando o banco de dados Hana
                (SAP), criação de plataforma desktop com Electron. Estou cursando Engenharia de Software na Universidade
                Filadélfia de Londrina (UniFil) e atualmente estou trabalhando como Desenvolvedor Full-Stack.
            </p>
            <div class="social-icons mt-3">
                <p class="text-center">Projetos e contato:</p>
                <a href="https://github.com/ViniMacacari" target="_blank" class="me-3">
                    <i class="bi bi-github" style="font-size: 2rem;"></i>
                </a>
                <a href="https://www.linkedin.com/in/vinicius-macacari-de-almeida-bb7855243/" target="_blank"
                    class="me-3">
                    <i class="bi bi-linkedin" style="font-size: 2rem;"></i>
                </a>
            </div>
        </div>
    </div>
</div>