<div *ngIf="isLoading" class="modal fade show" tabindex="-1" style="display: block; background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn-close" aria-label="Close" (click)="isLoading = false"></button>

                <h1>Mistérios do terço</h1>
                <hr>

                <p>Segunda e Sábado</p>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="my-2" (click)="redirecionar('/terco-mariano/1')">
                        <span>Mistérios Gozosos</span>
                    </button>
                </div>

                <p>Terça e Sexta</p>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="my-2" (click)="redirecionar('/terco-mariano/2')">
                        <span>Mistérios Dolorosos</span>
                    </button>
                </div>

                <p>Quarta e Domingo</p>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="my-2" (click)="redirecionar('/terco-mariano/3')">
                        <span>Mistérios Gloriosos</span>
                    </button>
                </div>

                <p>Quinta</p>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="my-2" (click)="redirecionar('/terco-mariano/4')">
                        <span>Mistérios Luminosos</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>