<div class="content">
    <div class="row text-center">
        <div class="col">
            <div class="terco" (click)="navegar('/terco-mariano')">
                <img src="assets/tercos/terco-mariano.png" alt="" width="200px">
                <h2>Terço Mariano</h2>
            </div>
        </div>
        <div class="col">
            <div class="terco" (click)="navegar('/terco-da-misericordia')">
                <img src="assets/tercos/terco-da-misericordia.png" alt="" width="200px">
                <h2>Terço da Misericórdia</h2>
            </div>
        </div>
        <div class="col">
            <div class="terco" (click)="navegar('/terco-do-amor')">
                <img src="assets/tercos/terco-do-amor.png" alt="" width="200px">
                <h2>Terço do Amor</h2>
            </div>
        </div>
    </div>
</div>