.content {
    padding: 30px !important;
    margin: 0 !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    padding: 0 !important;
    margin: 0 !important;
}

.col {
    padding: 20px !important;
    margin: 0 !important;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    .terco {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #f6f6f6;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.016), 0 2px 4px rgba(0, 0, 0, 0.13);
        border-radius: 30px;

        gap: 10px;
        padding: 10px;
        height: 300px;
        width: 300px;

        transition: ease-in-out 0.2s;
        cursor: pointer;

        &:hover {
            transform: scale(1.07);
        }
    }
}

h2 {
    padding: 0 !important;
    margin: 0 !important;

    font-size: 20px;
}