<div class="content">
    <div class="row text-center">
        <div class="col">
            <div class="terco" (click)="tercoMariano()">
                <img ngSrc="assets/tercos/terco-mariano.png" alt="Terço Mariano" width="200" height="200" priority>
                <h2>Terço Mariano</h2>
            </div>
        </div>
        <div class="col">
            <div class="terco" (click)="navegar('/terco-da-misericordia')">
                <img ngSrc="assets/tercos/terco-da-misericordia.png" alt="Terço da Misericórdia" width="200"
                    height="200" priority>
                <h2>Terço da Misericórdia</h2>
            </div>
        </div>
        <div class="col">
            <div class="terco" (click)="navegar('/terco-do-amor')">
                <img ngSrc="assets/tercos/terco-do-amor.png" alt="Terço do Amor" width="200" height="200"
                    priority>
                <h2>Terço do Amor</h2>
            </div>
        </div>
    </div>
</div>