<div class="content">
    <div class="row text-center">
        <div class="col">
            <div class="terco" (click)="tercoMariano()">
                <img ngSrc="assets/tercos/terco-mariano.png" alt="Terço Mariano" width="200" height="200" priority>
                <h2>Terço Mariano</h2>
            </div>
        </div>
        <div class="col">
            <div class="terco" (click)="navegar('/terco-da-misericordia')">
                <img ngSrc="assets/tercos/terco-da-misericordia.png" alt="Terço da Misericórdia" width="200"
                    height="200" priority>
                <h2>Terço da Misericórdia</h2>
            </div>
        </div>
        <div class="col">
            <div class="terco" (click)="navegar('/terco-do-amor')">
                <img ngSrc="assets/tercos/terco-do-amor.png" alt="Terço do Amor" width="200" height="200" priority>
                <h2>Terço do Amor</h2>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h1 class="text-center mb-4">A Importância de Rezar o Terço Diáriamente</h1>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Rezar o terço diariamente é um ato de fé e uma poderosa forma de fortalecer nossa vida espiritual.
                    Esta prática nos ajuda a meditar sobre os principais mistérios da vida de Jesus Cristo, desde a sua
                    encarnação até a sua ressurreição, oferecendo-nos uma oportunidade de refletir sobre os ensinamentos
                    do Evangelho e aplicá-los em nosso dia a dia. Cada mistério do terço é um convite para compreender
                    melhor o amor de Deus e a entrega de Cristo pela humanidade.
                </p>
                <p>
                    O terço também é uma forma de pedir a intercessão da Virgem Maria, que nos guia e protege em nossa
                    caminhada espiritual. Nossa Senhora, em suas aparições, enfatizou a importância desta devoção como
                    um meio de alcançar a paz e a conversão dos corações. A prática diária do terço nos dá forças para
                    superar as tentações e vencer as dificuldades que encontramos em nosso caminho, ajudando-nos a viver
                    em conformidade com a vontade de Deus.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Cada Ave-Maria rezada é uma expressão de confiança e amor a Deus, e o terço nos ensina a
                    perseverança na oração. Além disso, é uma poderosa arma espiritual contra as forças do mal, sendo um
                    escudo de proteção para nossas vidas e nossas famílias. Ao meditar sobre os mistérios da fé,
                    crescemos em virtudes como a humildade, a paciência e a caridade, fortalecendo nosso compromisso com
                    a vida cristã.
                </p>
                <p>
                    Rezar o terço não é apenas uma repetição de palavras, mas um profundo ato de meditação que nos une
                    ao sacrifício redentor de Cristo e nos aproxima da graça de Deus. Essa devoção nos ajuda a manter um
                    estado de vigilância espiritual, nos preparando para enfrentar os desafios da vida com confiança e
                    serenidade. O terço é um meio eficaz de encontrar paz interior, fortalecer a nossa fé e contribuir
                    para a salvação das almas, conforme o pedido de Nossa Senhora.
                </p>
            </div>
        </div>
    </div>
</div>