* {
    padding: 0;
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-style: normal;

    color: #6b447a;
}

p,
li,
ul,
button {
    font-family: "Outfit", sans-serif;
    font-weight: normal;
    font-style: normal;

    color: #6b447a;
}